$shadow-color: #23203b;
$input-color: lighten(#AB9E95, 10%);
$input-border-color: #5E5165;
$button-background-color: #27AE60;

* {
  margin: 0;
  padding: 0;
}

body {
  background: transparent;

}

h2{
  font-size:27px;
  font-family:sans-serif ;
  font-weight: 500;
}

.login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:400px;
  height:500px;
  border:#00CED1 solid 1px;
  text-align: center;
  padding-top:20px;
  background-color: rgba(157,204,224,0.3);
}

input{
  height:40px;
  width: 300px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background-color: rgba(255,255,255,0.5);
  border-color: rgba(157,204,224,0.5);
  }


  body {
  width: 100vw;
  height: 100vh;
  background: #666 url(https://bcrikko.github.io/web-design-practices/single-page-layout/asset/header.jpg) no-repeat;
  background-size: cover;
  position: relative;
 }

form{
  margin-top:100px;
}

 body::before {
   content: '';
   position: absolute;
   /* 輪郭がぼやけてしまうのでブラー範囲を広げる */
   top: -5px;
   bottom: -5px;
   left: -5px;
   right: -5px;
   background: inherit;
   filter: blur(5px);
 }
